/**
 * Style custom
 */

/* Header */
.main-header .img-logo-mini {
	padding:5px;
}
.main-header .img-logo-lg {
	max-height:45px;margin:5px 0;
}

/* Form */
.input-required {
	color: #D73925;
	font-size: 0.6em;
}
.btn-form {
	margin-right: 4px;
}
.select2-choice {
	max-height: 32px;
	padding: 2px 2px 2px 8px !important;
}
.bootstrap-switch {
	margin: 10px auto !important;
}
#map-container { height: 400px; margin: 20px; }

.transparent-font {
	color: transparent !important;
}

.modal { overflow: auto !important; }


 td.details-control {
    background: url('http://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('http://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
   }