
.modal{
	margin-left: -27%;
}
table, th, td {
   border: 1px solid black;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

table, th, td {
    border: 0px solid black;
}

th {
    height: 30px;
    text-align: left;
}

td{
	height: 30px;
	vertical-align: bottom;
}

th, td {
    padding: 3px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
	background-color: #f5f5f5
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

th {
    background-color: #959595;
    color: white;
}
/*.box-header{
	padding: 11px 0 0 12px;
	background: #E9E7E7;
}*/

.fa-undo{
    color: #1D1D1D;
    cursor: pointer;
}

.fa-save{
    color: #0C80EE;
    cursor: pointer;
}

.fa-plus{
    color: #0264BC;
    cursor: pointer;
}

.fa-trash{
    color:#FF1616; 
    cursor: pointer;
}

.fa-file-pdf-o{
    color: #FF0000;
    cursor: pointer;
}

.fa-file-excel-o{
    color: #0A9700;
    cursor: pointer;
}