th.title{
    background-color: #C5C5C5;
    /*text-align: right;*/
}

td.body{
    text-align: left;
    background-color: #E6E6E6;
}
    
table, th, td {
   /*border: 1px solid black;*/
}

table {
    border-collapse: collapse;
    /*border: 1px solid black;*/
    width: 100%;
}

table, th, td {
    /*border: 0px solid black;*/
}

th {
    height: 20px;
    text-align: left;
}

td{
	height: 20px;
	vertical-align: bottom;
}

th, td {
    padding: 3px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #959595;
    color: white;
}
/*.box-header{
	padding: 11px 0 0 12px;
	background: #E9E7E7;
}*/
